<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<th:block th:insert="Fragments/head :: head"></th:block>
</head>
<body>
	<div class="container">
		<div th:insert="Fragments/BodyHeader :: div"></div>


		<h3>Alta</h3>
		<form th:object="${DATA_SucursalsDtoFormulari}" method="post"
			th:action="@{/DesarSucursal}">

			<input type="hidden" th:field="*{idSucursal}">
			<input type="hidden" th:field="*{tipusSucursal}">

			<div class="form-group">

				<label class="cloud-label">Nom</label> <input type="text"
					th:field="*{nomSucursal}"> <br> 
				<label class="cloud-label">País</label> <input type="text" 
					th:field="*{paisSucursal}"> <br> 

			</div>
			<button type="submit" class="btn btn-outline-success">Desar</button>
			<a class="btn btn-outline-danger" th:href="@{/LlistaSucursals}" role="button">Descartar</a>

		</form>

	</div>

</body>
</html>